.footer {
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
  }
  .footer-content ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-content li {
    margin: 5px 0;
  }
  